<table summary="Task form fields">
    <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
    </tr>
    <tr>
        <th>Position</th>
        <td><%= f.text_field(:position) %></td>
    </tr>
    <tr>
        <th>Start Time</th>
        <td><%= f.datetime_field(:start_time) %></td>
    </tr>
    <tr>
        <th>Deadline</th>
        <td><%= f.datetime_field(:deadline) %></td>
    </tr>
    <tr>
        <th>Notification Options</th>
        <td><%= f.text_area(:notification) %></td>
    </tr>
</table>